@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Basic styles begin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Josefin Sans', sans-serif;
    --bgcolor-dark-mode: hsl(235, 21%, 11%);
    --bgcolor-light-mode: hsl(0, 0%, 98%);
    --icon-both-node: hsl(0, 0%, 98%);
    --bg-form-todolist-dashboard-dark-mode: hsl(235, 24%, 19%);
    --bg-form-todolist-dashboard-light-mode: hsl(236, 33%, 92%);
    --text-form-todolist-dark-mode: hsl(234, 39%, 85%);
    --striketext-todolist-dark-mode: hsl(234, 11%, 52%);
    --text-form-todolist-light-mode: hsl(233, 11%, 84%);
    --striketext-todolist-dark-mode: hsl(236, 9%, 61%);
    --text-dashboard-dark-mode: hsl(234, 11%, 52%);
    --text-dashboard-light-mode: hsl(236, 9%, 61%); 
    --text-hover-dashboard-dark-mode: hsl(236, 33%, 92%);
    --text-hover-dashboard-light-mode: hsl(235, 19%, 35%);
    --text-active-dashboard-both-mode: hsl(220, 98%, 61%);
    --text-note-dark-mode: hsl(234, 11%, 52%);
    --text-note-light-mode: hsl(236, 9%, 61%);
}

body{
    background-color: var(--bgcolor-dark-mode);
}

#root{
    height: 100vh;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.container{
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-40%);
    width: 35%;
}
/* Basic styles end*/

/* Navbar styles start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.nav--title{
    font-size: 5.25vh;
    font-weight: 700;
    letter-spacing: 1.25vw;
    color: var(--text-form-todolist-dark-mode);
}

.nav--mode--icon{
    height: 3.5vh;
}
/* Navbar styles end */

/* Main styles start */

/* input styles start */
.main input{
    width: 100%;
    padding: 2.5vh;
    border: 0;
    border-radius: 2.5px;
    background-color: var(--bg-form-todolist-dashboard-dark-mode);
    /* color: var(--text-form-todolist-dark-mode); */
    letter-spacing: 0.225vh;
    word-spacing: 0.25vw;
    margin-bottom: 3vh;
}
/* input styles end */

/* TodoItem styles start */
.todo--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh;
    border-bottom: 1px solid var(--text-hover-dashboard-light-mode);
    background-color: var(--bg-form-todolist-dashboard-dark-mode);
}

.todo--item--info{
    display: flex;
    align-items: center;
}

.todo--complete-check{
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    border: 1px solid var(--text-hover-dashboard-light-mode);
    margin-right: 1vw;
}

.todo--item--text{
    color: var(--text-form-todolist-dark-mode);
    font-size: 2.5vh;
    font-weight: 400;
    letter-spacing: 0.225vh;
}

.cross{
    display: none;
}

.todo--item:hover .cross{    
    display: inline;
}
/* TodoItem styles end */


/* Main styles end */






